<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>PAGADO CON EXITO</h1>
    
    
    payment_method_id: <%= payment_id %>
    external_reference: <%= external_reference %> 
    collection_id: <%= collection_id %> 
</body>
</html>

